# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get unix timestamp
alias unixtime='date +%s'

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# OS X has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Pretty cat
alias cat="pygmentize -g -O style=monokai"

# The Fuck
eval "$(thefuck --alias)"

# weather
alias weather='curl wttr.in'

# ip
alias ip='curl https://ipinfo.io/ip'

# cleanup branches
alias cleanbr='git branch | grep -v $(git rev-parse --abbrev-ref HEAD) | xargs git branch -D'

# fancy ls
alias ls="eza"

# nvm = fnm
alias nvm="fnm"
