# Make nano the default editor.
export EDITOR='nano';

# Enable persistent REPL history for `node`.
NODE_REPL_HISTORY_FILE=~/.node_history;
# Allow 32³ entries; the default is 1000.
NODE_REPL_HISTORY_SIZE='32768';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

# Blackfire
export BLACKFIRE_CLIENT_ID=8386d317-c8d0-44f6-9645-fe79a4a74304
export BLACKFIRE_CLIENT_TOKEN=1cf2e169ce53b3018d4c880460c179f7be93344d8db419a4c93f3bcdaa831a7b
export BLACKFIRE_SERVER_ID=d1ce1883-c977-487c-9a2a-a6dccd6b25cb
export BLACKFIRE_SERVER_TOKEN=01c561d33a92c4044835ff5a2a5d79dec2b85aef15fa26c3e0063af85f2cba3a
