# Use Git’s colored diff when available
hash git &>/dev/null;
if [ $? -eq 0 ]; then
	function diff() {
		git diff --no-index --color-words "$@";
	}
fi;

# Generate a random string
random() {
    openssl rand -base64 512 | tr -dc 'a-zA-Z0-9' | fold -w ${1:-32} | head -n 1
}

# Generate random sha1
randomsha1() {
        random | shasum -a 1 | awk '{print $1}'
}

# Get string length of first argument
strlen() {
	echo ${#1}
}

uuid() {
  echo $(uuidgen) | tr '[:upper:]' '[:lower:]'
}
