[init]
	defaultBranch = main

[user]
	name = Wouter De Schuyter
	email = wouter.de.schuyter@gmail.com

[alias]
	diff = diff --color --color-words --abbrev
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(blue) <%an>%Creset' --abbrev-commit
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	contributors = shortlog --summary --numbered

[apply]
	whitespace = fix

[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	trustctime = false
	precomposeunicode = false
	pager = diff-so-fancy | less --tabs=4 -RFX

[push]
	default = simple
	followTags = true

[pull]
	rebase = true

[diff]
	renames = copies

[diff "bin"]
	textconv = hexdump -v -C

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[rerere]
	enabled = true

[interactive]
	diffFilter = diff-so-fancy --patch

[add "interactive"]
	useBuiltin = false
